.product_body {
    margin-top: 300px;
    display: flex;
    justify-content: space-around;
}

.product_body .box {
    display: flex;
    justify-content: space-between;
}

.product_body .img__raincoat {
    display: flex;
    height: 250px;
}

.product_body .img__keds {
    display: flex;
    height: 250px;
    width: 25Opx;
    justify-content: space-around;
}

.product_body .prametersShoes {
    display: flex;
    justify-content: space-around;
}

.product_body-second {
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
}

.card-body {
    display: block;
    height: 250px;
}

.card-body .btn {
    margin-top: 70px;
    background-color: red;
    border: none;
    height: 40px;
    width: 200px;
}

.product_body .line {
    justify-content: center;
    height: 2px;
    background-color: grey;
}

.card-body .line {
    height: 1px;
    background-color: grey;
}


/* .card-body .pol {
    height: 1px;
    background-color: grey;
} */


/* .product_body .box_par {
    display: flex;
    justify-content: space-between;
} */


/* 





.product_body .img__raincoat {
display: flex;
height: 250px;
/* width: 25Opx; 
}

.product_body-second .img__keds {
display: flex;
height: 250px;
width: 25Opx;
}

.card-body {
display: block;
margin-top: 300px;
background-color: aqua;
} */